---
title: Communicate
---
<!DOCTYPE html>
<html lang="en">

<head>
    {% include head.html %}
</head>

<body id="page-top">
<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand page-scroll" href="#page-top"><img src="./img/spacewalk-logo-mini.png"
                                                                      alt="Spacewalk logo"/></a>
            <button type="button" class="navbar-toggle collapsed btn-navbar" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span><i class="fa fa-bars"></i>
            </button>
        </div>

        <!-- NAVBAR -->
        {% include nav.html %}
    </div>
</nav>

<!-- HEADER -->
<header>
    <div class="header-content">
        <div class="header-content-inner">
            <img src="./img/spacewalk-logo.png" alt="Spacewalk logo"/>
        </div>
    </div>
</header>

<!-- MAILING LISTS / IRC-->
<section class="section-irc" id="communicate">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <h2 class="section-heading">Mailing Lists / IRC</h2>
                <hr/>
                <div class="col-md-12 text-center">
                    <div>
                        <p>Spacewalk is licensed under the <a href="http://www.gnu.org/licenses/gpl-2.0.html">General
                            Public License (GPLv2).</a></p>

                        <p>There's a few ways to get in touch with the Spacewalk developers, depending on your needs.
                            We've outlined each communication method below:</p>

                        <ul>
                            <li><a class="page-scroll" href="#lists">Mailing Lists</a></li>
                            <li><a class="page-scroll" href="#irc">IRC (Internet Relay Chat)</a></li>
                            <li><a class="page-scroll" href="#bugs">Bug Reporting</a></li>
                        </ul>

                        <h3><a id="lists">Mailing Lists</a></h3>

                        <p>Spacewalk has three mailing lists. One is primarily for general announcements, another for
                            the discussion of the usage of Spacewalk, and yet another for discussion amongst
                            contributors to discuss project development. <em>(Subscription is required to post to
                                lists)</em></p>

                        <ul>
                            <li><strong>Announcement List (Moderated):</strong> <a
                                    href="http://www.redhat.com/mailman/listinfo/spacewalk-announce-list">spacewalk-announce-list@redhat.com</a>
                                <ul>
                                    <li>For general announcements about Spacewalk, including releases, for the entire
                                        Spacewalk community.
                                    </li>
                                    <li><a href="http://www.redhat.com/mailman/listinfo/spacewalk-announce-list">Sign up
                                        for this list</a></li>
                                    <li><a href="https://www.redhat.com/archives/spacewalk-announce-list">Read the list
                                        archives</a></li>
                                </ul>
                            </li>
                            <li><strong>Users List:</strong> <a
                                    href="http://www.redhat.com/mailman/listinfo/spacewalk-list">spacewalk-list@redhat.com</a>
                                <ul>
                                    <li>For discussions about the usage of Spacewalk, for Spacewalk users.</li>
                                    <li><a href="http://www.redhat.com/mailman/listinfo/spacewalk-list">Sign up for this
                                        list</a></li>
                                    <li><a href="https://www.redhat.com/archives/spacewalk-list">Read the list
                                        archives</a></li>
                                </ul>
                            </li>
                            <li><strong>Developer List:</strong> <a
                                    href="https://www.redhat.com/mailman/listinfo/spacewalk-devel">spacewalk-devel@redhat.com</a>
                                <ul>
                                    <li>For development-focused discussion of Spacewalk, for Spacewalk contributors.
                                    </li>
                                    <li><a href="https://www.redhat.com/mailman/listinfo/spacewalk-devel">Sign up for
                                        this list</a></li>
                                    <li><a href="https://www.redhat.com/archives/spacewalk-devel/">Read the list
                                        archives</a></li>
                                </ul>
                            </li>
                        </ul>

                        <p>As for mailing list policies, we think that the <a
                                href="http://fedoraproject.org/wiki/Communicate/MailingListGuidelines">Fedora mailing
                            list guidelines</a> are a reasonable and fair set of standards to ask all community members
                            to adhere
                            to. In a nutshell, be respectful and aware that the list is public and archived. If you
                            don't have much experience communicating on free &amp; open source project lists, you will
                            definitely want to look over the <a
                                    href="http://fedoraproject.org/wiki/Communicate/MailingListGuidelines">Fedora
                                mailing list guidelines</a> to know what to expect and how to communicate effectively.
                        </p>

                        <h3><a id="irc">IRC (Internet Relay Chat)</a></h3>

                        <p>We have one main IRC channel for both development and user discussion. This channel is:</p>
                        <ul>
                            <li><strong>#spacewalk</strong> on <a href="http://freenode.net">irc.freenode.net</a>.</li>
                        </ul>

                        <p>Not familiar with IRC? Check out <a href="http://irchelp.org">http://irchelp.org/</a> for
                            some quick start guides and tutorials. You may want to try XChat as your IRC client - it is
                            a popular IRC program available in most Linux distributions
                            including Fedora and Red Hat Enterprise Linux.</p>

                        <p><strong>NOTE:</strong> irc.freenode.net has an IRC 'nick' (nickname, the name you go by in
                            chat) registration system. Some irc.freenode.net channels require that you identify with the
                            server every time you log in. This identification is
                            also required for private messages on the network (no, they're not ignoring you; you
                            probably just haven't identified with the registration system!) For more information, please
                            consult the Freenode Frequently-Asked Questions page on user
                            registration.
                        <p>

                        <p>As on our mailing list, please be respectful in our IRC channel. If no one seems to be
                            responding to your requests in IRC, feel free to ask your questions on the mailing list.
                            (It's quite common for IRC users to 'idle' their nicks in
                            a channel so they can catch up on any conversation they missed later on.)</p>

                        <h3><a id="bugs">Bug Reporting</a></h3>

                        <p>Reporting of all bugs and enhancements for Spacewalk will be done within Bugzilla.</p>

                        <ul>
                            <li><a href="https://bugzilla.redhat.com">Bugzilla Home</a>: Use this site to search
                                existing bug reports, enter a new bug report or enhancement for Spacewalk.
                            </li>
                            <li><a href="https://bugzilla.redhat.com/createaccount.cgi">Create a new Bugzilla
                                account</a></li>
                            <li><a href="https://bugzilla.redhat.com/enter_bug.cgi?product=Spacewalk">Create a new
                                Spacewalk Bugzilla report</a></li>
                            <li><a href="https://bugzilla.redhat.com/query.cgi?format=specific&product=Spacewalk">Query
                                Spacewalk Bugzilla reports</a></li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <a href="#" class="scrollToTop"><span class="top"><i class="glyphicon glyphicon-upload"></i></span></a>
</section>

<footer>
    {% include footer.html %}
</footer>

<!-- jQuery -->
    {% include jsresource.html %}
</body>

</html>
