---
title: Documentation
---
<!DOCTYPE html>
<html lang="en">

<head>
    {% include head.html %}
</head>

<body id="page-top">
<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    {% include nav.html %}
</nav>

<!-- HEADER -->
<header>
    {% include header.html %}
</header>

<!-- MAILING LISTS / IRC-->
<section class="section-documentation" id="doc">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <h2 class="section-heading">Documentation</h2>
                <hr/>
                <div class="col-md-12 text-center">
                    <div>
                        <h3>User Documentation</h3>

                        <p>User documentation for Spacewalk is available in the <a
                                href="https://github.com/spacewalkproject/spacewalk/wiki">Spacewalk wiki</a>:</p>

                        <ul>
                            <li><a href="https://github.com/spacewalkproject/spacewalk/wiki/UserDocs">Spacewalk Wiki
                                User Documentation</a></li>
                        </ul>

                        <p>You will also likely find the following Red Hat Satellite documentation useful:</p>

                        <ul>
                            <li>
                                <a href="https://access.redhat.com/documentation/en-US/Red_Hat_Satellite/5.8/html-single/Installation_Guide/index.html">Red
                                    Hat Satellite 5.8 Installation Guide</a></li>
                            <li>
                                <a href="https://access.redhat.com/documentation/en-US/Red_Hat_Satellite/5.8/html-single/Getting_Started_Guide/index.html">Red
                                    Hat Satellite 5.8 Getting Started Guide</a></li>
                            <li>
                                <a href="https://access.redhat.com/documentation/en-US/Red_Hat_Satellite/5.8/html-single/Client_Configuration_Guide/index.html">Red
                                    Hat Satellite 5.8 Client Configuration Guide</a></li>
                            <li>
                                <a href="https://access.redhat.com/documentation/en-US/Red_Hat_Satellite/5.8/html-single/User_Guide/index.html">Red
                                    Hat Satellite 5.8 User Guide</a></li>
                            <li>
                                <a href="https://access.redhat.com/documentation/en-US/Red_Hat_Satellite/5.8/html-single/Proxy_Installation_Guide/index.html">Red
                                    Hat Satellite 5.8 Proxy Installation Guide</a></li>
                        </ul>

                        <h3>Developer Documentation</h3>

                        <p>The <a href="https://github.com/spacewalkproject/spacewalk/wiki">Spacewalk wiki</a> has
                            various developer documentation available:</p>

                        <ul>
                            <li><a href="https://github.com/spacewalkproject/spacewalk/wiki/DeveloperDocs">Spacewalk
                                Developer Documentation</a></li>
                        </ul>

                        <p>We also have low-level developer APIs autogenerated from the code of each release of
                            Spacewalk:</p>

                        <ul>
                            <li><a href="documentation/javadoc/">Javadoc output (Java stack)</a></li>
                            <li><a href="documentation/python-doc/">Epydoc output (Python stack)</a></li>
                            <li><a href="documentation/schema-doc/">OraSchemaDoc output (DB ERD)</a></li>
                            <li><a href="documentation/api/2.8">XMLRPC API document (CLI/Scripting API)</a></li>
                        </ul>

                    </div>

                </div>
            </div>
        </div>
    </div>
    {% include scroll_to_top.html %}
</section>

<footer>
    {% include footer.html %}
</footer>

<!-- jQuery -->
{% include jsresource.html %}
</body>

</html>
