---
title: Download
---
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ site.description }}">
    <meta name="author" content="{{ site.email }}">

    <title>{{ site.title }} - {{page.title }}</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="img/spacewalk_favicon.ico"/>

    <!-- Bootstrap .css -->
    <link href="vendor/css/bootstrap.min.css" rel="stylesheet">

    <!-- Fonts -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

    <!-- Theme .css -->
    <link href="css/style.css" rel="stylesheet">
</head>

<body id="page-top">
<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand page-scroll" href="#page-top"><img src="./img/spacewalk-logo-mini.png"
                                                                      alt="Spacewalk logo"/></a>
            <button type="button" class="navbar-toggle collapsed btn-navbar" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span><i class="fa fa-bars"></i>
            </button>
        </div>

        <!-- NAVBAR -->
        {% include nav.html %}
    </div>
</nav>

<!-- HEADER -->
<header>
    <div class="header-content">
        <div class="header-content-inner">
            <img src="./img/spacewalk-logo.png" alt="Spacewalk logo"/>
        </div>
    </div>
</header>

<!-- DOWNLOAD -->
<section class="section-download" id="download">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <h2 class="section-heading">Download</h2>
                <hr/>
                <div class="col-md-12 text-center">
                    <div>
                        <p>Spacewalk is licensed under the <a href="http://www.gnu.org/licenses/gpl-2.0.html">General
                            Public License (GPLv2).</a></p>

                        <h3>Latest Source</h3>

                        <p>The latest source code is available from the <a
                                href="https://github.com/spacewalkproject/spacewalk">spacewalkproject/spacewalk</a>
                            repository on <a href="https://github.com">GitHub</a></p>
                        <p>
                            You can clone a copy with
                        </p>
                        <div>
                            <p class="quote">git clone https://github.com/spacewalkproject/spacewalk.git</p>
                        </div>

                        <p>For more information please visit the <a
                                href="https://github.com/spacewalkproject/spacewalk/wiki/">Spacewalk developer wiki</a>.
                        </p>

                        <h3>Source RPMs</h3>

                        <p>Source RPMs can be found at the same location as our binaries. Older source RPMs (pre
                            Spacewalk 1.8) can be found <a href="./source/">here</a>.</p>

                        <h3>Binary RPMs</h3>

                        <p>RPM binaries for the project are available for download via a yum repository <a
                                href="http://spacewalk.redhat.com/yum/">here</a>. Our RPM packages are GPG signed. Visit
                            the <a href="https://github.com/spacewalkproject/spacewalk/wiki/DownloadIt">download
                                area</a> of the project wiki for more information and access to the <a
                                    href="http://yum.spacewalkproject.org/RPM-GPG-KEY-spacewalk-2015">Spacewalk public
                                GPG key</a>.
                            For more information on using this yum repository and installing Spacewalk, please visit the
                            <a href="https://github.com/spacewalkproject/spacewalk/wiki/HowToInstall">Spacewalk
                                installation procedures</a> on the developer wiki.</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <a href="#" class="scrollToTop"><span class="top"><i class="glyphicon glyphicon-upload"></i></span></a>
</section>

<footer>
    {% include footer.html %}
</footer>

<!-- jQuery -->
<script src="vendor/jquery/jquery.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="vendor/js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
<script src="vendor/scrollreveal/scrollreveal.min.js"></script>

<!-- Theme JavaScript -->
<script src="js/jscript.js"></script>

<!-- Back to the top-->
<script src="js/scrollToTop.js"></script>
</body>

</html>
