---
title: Introduction
---
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ site.description }}">
    <meta name="author" content="{{ site.email }}">

    <title>{{ site.title }} - {{page.title }}</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="img/spacewalk_favicon.ico"/>

    <!-- Bootstrap .css -->
    <link href="vendor/css/bootstrap.min.css" rel="stylesheet">

    <!-- Fonts -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

    <!-- Theme .css -->
    <link href="css/style_main.css" rel="stylesheet">

    <!-- Lightbox -->
    <link href="css/lightbox.css" rel="stylesheet">
    <link rel="stylesheet" href="./dist/css/lightbox.min.css">

</head>

<body id="page-top">
<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand page-scroll" href="#page-top"><img src="./img/spacewalk-logo-mini.png"
                                                                      alt="Spacewalk logo"/></a>
            <button type="button" class="navbar-toggle collapsed btn-navbar" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span><i class="fa fa-bars"></i>
            </button>
        </div>

        <!-- NAVBAR -->
        {% include nav.html %}
    </div>
</nav>

<!-- HEADER -->
<header>
    <div class="header-content">
        <div class="header-content-inner">
            <img src="./img/spacewalk.png" class="logo" alt="Spacewalk"/>
            <p>
                Free & Open Source Systems Management.
            </p>
            <div class="blink">
                <a class="page-scroll" href="#about"><span></span></a>
            </div>
        </div>
        <div class="header-content-inner-resp">
            <img src="./img/spacewalk-logo.png" alt="Spacewalk logo"/>
            <p>
                Free & Open Source Systems Management.
            </p>
        </div>
    </div>
</header>

<!-- ABOUT -->
<section class="section-about" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <h2 class="section-heading">Free &amp; Open Source Systems Management.</h2>
                <hr/>
                <div class="col-md-12 text-center">
                    <p>
                        Spacewalk is an open source Linux systems management solution. Spacewalk is the upstream
                        community project from which the Red Hat Satellite product is derived. What are the differences
                        between Spacewalk and Red Hat Satellite?
                    </p>
                    <p>
                        <a href="./faq.html" class="btn">Read more</a>
                    </p>
                    <div class="col-md-12" id="about-content">
                        <div class="col-md-12">
                            <!-- Software Conent Management -->
                            <div class="col-md-6">
                                <i class="fa fa-wrench fa-5x component"></i>
                                <h3>Software Content Management</h3>

                                <p>
                                    Spacewalk manages software content updates for Red Hat derived distributions such as
                                    Fedora, CentOS, and Scientific Linux, within your firewall. You can stage software
                                    content through different environments, managing the deployment of updates to
                                    systems
                                    and allowing you to view at which update level any given system is at across your
                                    deployment. A central web interface allows viewing of systems, their associated
                                    software update status, and initiating update actions.
                                </p>
                            </div>
                            <!-- end -->
                            <!-- Aditional management capabilities-->
                            <div class="col-md-6">
                                <i class="fa fa-server fa-5x component"></i>
                                <h3>Additional Management Capabilities</h3>
                                <p>
                                    Spacewalk also provides provisioning capabilities, allowing you to manage your
                                    systems throughout their lifecycle. Via Provisioning, Spacewalk enables you to
                                    kickstart provision systems and manage and deploy configuration files. Spacewalk
                                    also has virtualization
                                    capabilities to enable you to provision, control, manage, and monitor virtual KVM
                                    and Xen guests.
                                </p>
                            </div>
                            <!-- end -->
                        </div>
                        <div class="col-md-12">
                            <!-- Providing Content to Geographically-Distributed Systems -->
                            <div class="col-md-6">
                                <i class="fa fa-sitemap fa-5x component"></i>
                                <h3>Providing Content to Geographically-Distributed Systems</h3>
                                <p>
                                    Part of the Spacewalk project is the Spacewalk Proxy, the upstream of the Red Hat
                                    Satellite Proxy product. Multiple Spacewalk Proxies can connect to a central
                                    Spacewalk server and cache and distribute content from the Spacewalk Server in
                                    various geographical
                                    locations, reducing the load on the central server and improving download times for
                                    local systems.
                                </p>
                            </div>
                            <!-- end -->
                            <!-- An open community project -->
                            <div class="col-md-6">
                                <i class="fa fa-group fa-5x component"></i>
                                <h3>An Open Community Project</h3>
                                <p>
                                    Spacewalk is an open community project. Anyone can contribute to the project,
                                    including lending a hand with ideas, feedback, contributing a patch, helping draft
                                    documentation, sharing your systems management use cases, or even testing. Sign up
                                    for our
                                    mailing list or join our IRC channel and say hello!
                                </p>
                            </div>
                            <!-- end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- SPACEWALK -->
<section id="spacewalk-whatdo" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">What can Spacewalk do?</h2>
            </div>
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <p>Spacewalk is an open source (GPLv2) Linux systems management solution that allows you to:</p>
                <div class="col-lg-6 col-lg-offset-3">
                    <ul class="text">
                        <li class="sr-li">Inventory your systems (hardware and software information).</li>
                        <li class="sr-li">Install and update software on your systems.</li>
                        <li class="sr-li">Collect and distribute your custom software packages into manageable groups.
                        </li>
                        <li class="sr-li">Provision (kickstart) your systems.</li>
                        <li class="sr-li">Manage and deploy configuration files to your systems.</li>
                        <li class="sr-li">Provision and start/stop/configure virtual guests.</li>
                        <li class="sr-li">Distribute content across multiple geographical sites in an efficient
                            manner.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</section>
<a href="#" class="scrollToTop"><span class="top"><i class="glyphicon glyphicon-upload"></i></span></a>
<footer>
    {% include footer.html %}
</footer>

<!-- jQuery -->
<script src="vendor/jquery/jquery.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="vendor/js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
<script src="vendor/scrollreveal/scrollreveal.min.js"></script>

<!-- Theme JavaScript -->
<script src="js/jscript.js"></script>

<!-- Lightbox -->
<script src="./dist/js/lightbox-plus-jquery.min.js"></script>

<!-- Back to the top-->
<script src="js/scrollToTop.js"></script>
</body>

</html>
