---
title: Related links
---
<!DOCTYPE html>
<html lang="en">

<head>
    {% include head.html %}
</head>

<body id="page-top">

<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand page-scroll" href="#page-top"><img src="./img/spacewalk-logo-mini.png"
                                                                      alt="Spacewalk logo"/></a>
            <button type="button" class="navbar-toggle collapsed btn-navbar" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span><i class="fa fa-bars"></i>
            </button>
        </div>

        <!-- NAVBAR -->
        {% include nav.html %}
    </div>
</nav>

<!-- HEADER -->
<header>
    <div class="header-content">
        <div class="header-content-inner">
            <img src="./img/spacewalk-logo.png" alt="Spacewalk logo"/>
        </div>
    </div>
</header>

<!-- MAILING LISTS / IRC-->
<section class="section-documentation" id="doc">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <h2 class="section-heading">Related links</h2>
                <hr/>
                <div class="col-md-12 text-center">
                    <div>
                        <p> Some useful and relevant sites include: </p>

                        <h3>Red Hat Satellite</h3>

                        <ul>
                            <li><a href="http://www.redhat.com/en/technologies/linux-platforms/satellite">Satellite
                                Product Pages</a></li>
                            <li><a href="https://access.redhat.com/documentation/en-US/Red_Hat_Satellite/">Satellite
                                Product Documentation</a></li>
                            <li><a href="https://rhn.redhat.com/rhn/systems/SystemList.do">RHN Classic (Hosted)
                                Application</a> - part of Red Hat Customer Portal
                            </li>
                        </ul>

                        <h3>Spacewalk</h3>
                        <ul>
                            <li><a href="development.html">Spacewalk Wiki</a></li>
                            <li><a href="communicate.html">Spacewalk Mailing Lists</a></li>
                            <li><a href="https://github.com/spacewalkproject/spacewalk">Spacewalk on GitHub</a></li>
                            <li>
                                <a href="https://bugzilla.redhat.com/buglist.cgi?bug_status=NEW&bug_status=ASSIGNED&list_id=3422566&product=Spacewalk">Spacewalk
                                    in Bugzilla</a></li>
                        </ul>


                        <h3>Systems Management</h3>
                        <ul>
                            <li><a href="http://cobbler.github.io/">Cobbler</a> - Provisioning and Kickstarts</li>
                            <li><a href="http://freeipa.org/">FreeIPA</a> - Identity, Policy, Audit tool using Kerberos
                                and LDAP
                            </li>
                            <li><a href="http://pulpproject.org/">Pulp</a> - Software Management</li>
                            <li><a href="http://theforeman.org/plugins/katello/index.html">Katello</a> - Systems
                                Management
                            </li>
                            <li><a href="http://theforeman.org/">The Foreman</a> - Provisioning and Kickstarts</li>
                            <li><a href="http://candlepinproject.org/">Candlepin</a> - Subscription Management</li>
                        </ul>

                    </div>

                </div>
            </div>
        </div>
    </div>
    <a href="#" class="scrollToTop"><span class="top"><i class="glyphicon glyphicon-upload"></i></span></a>
</section>

<footer>
    {% include footer.html %}
</footer>


<!-- jQuery -->
    {% include jsresource.html %}
</body>

</html>
