---
title: Screenshots
---
<!DOCTYPE html>
<html lang="en">

<head>
    {% include head.html %}

    <!-- Lightbox -->
    <link href="css/lightbox.css" rel="stylesheet">
    <link rel="stylesheet" href="./dist/css/lightbox.min.css">
</head>

<body id="page-top">
<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    {% include nav.html %}
</nav>

<!-- HEADER -->
<header>
    {% include header.html %}
</header>

<!-- SCREENSHOTS -->
<section class="section-screenshots" id="screenshots">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <h2 class="section-heading">Screenshots</h2>
                <div class="col-md-12 text-center">
                    <div class="col-md-12">
                        <p>Here are some screenshots of Spacewalk's web-based user interface. Of course, screenshots can
                            only offer a small fraction of the full experience, so why not <a href="download.html">download
                                Spacewalk</a> and see it for yourself?</p>
                        <h3>Your Spacewalk</h3>
                        <hr/>
                        <div class="col-md-3 text-center">
                            <a href="./img/screenshots/your_spacewalk.png" data-lightbox="your-spacewalk"
                               data-title="Your Spacewalk"><img src="./img/screenshots/thumbs/your_spacewalk.png"
                                                                class="img-responsive img-spacewalk"
                                                                alt="Spacewalk screenshot"/></a>
                        </div>
                        <div class="col-md-9 text">
                            This overview page, which appears when you first log into the Spacewalk web interface, is a
                            customizable at-a-glance view your systems' status. Some highlights that can be displayed on
                            this screen include the most out-of-date systems, the systems with
                            the most critical out-of-date status, the latest errata releases, the systems that have most
                            recently registered to your Spacewalk server, and more. You can determine which modules
                            appear on this screen in your user preferences.
                        </div>
                    </div>
                    <div class="col-md-12">
                        <h3>System Set Manager</h3>
                        <hr/>
                        <div class="col-md-9 text">
                            The system set manager is an interface in Spacewalk where you can perform actions on
                            multiple systems at once. First, you select a group of systems to join the 'system set.'
                            Then, you go to the System Set Manager menu (shown in the screenshot below) to
                            select which actions you would like to run on those systems. These actions can range from
                            rebooting the entire group of systems, to installing a specific package on those systems, to
                            deploying a configuration file to all those systems.
                            Where systems are not completely homogeneous (e.g., if your system set consists of both
                            Fedora 8 and Fedora 9 systems) and an action can only apply to a subset of the systems in
                            the set, the web interface will alert you of this and let
                            you know which systems will be affected and which systems can not be affected.
                        </div>
                        <div class="col-md-3 text-center">
                            <a href="./img/screenshots/system-set-manager.png" data-lightbox="system-set-manager"
                               data-title="System Set Manager"><img
                                    src="./img/screenshots/thumbs/system-set-manager.png"
                                    class="img-responsive img-spacewalk" alt="Spacewalk screenshot"/></a>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <h3>System Groups</h3>
                        <hr/>
                        <div class="col-md-3 text-center">
                            <a href="./img/screenshots/system-groups.png" data-lightbox="system-groups"
                               data-title="System Groups"><img src="./img/screenshots/thumbs/system-groups.png"
                                                               class="img-responsive img-spacewalk"
                                                               alt="Spacewalk screenshot"/></a>
                        </div>
                        <div class="col-md-9 text">
                            Spacewalk has a nice search system that allows you to search for particular systems, errata,
                            or packages (package search shown below.) Package search is particularly useful if you are
                            looking to install an application but are not sure what channel your
                            system needs access to in order to retrieve the package from Spacewalk.
                        </div>
                    </div>
                    <div class="col-md-12">
                        <h3>Kickstart</h3>
                        <hr/>
                        <div class="col-md-8 text">
                            Spacewalk has a kickstart system that allows you to create and store kickstart settings for
                            systems as well as conduct kickstarts on systems registered to the Spacewalk server. Shown
                            below is a screenshot of the <em>Kickstart Overview</em> screen which gives you a summary of
                            the saved kickstart profiles on Spacewalk as well as a summary of pending and
                            currently-running kickstart actions. Also shown below is a screenshot of the kickstart
                            creation wizard that allows you
                            to create new Spacewalk kickstart profiles.
                        </div>
                        <div class="col-md-2 text-center">
                            <a href="./img/screenshots/kickstart_create.png" data-lightbox="kickstart"
                               data-title="Kickstart Create"><img src="./img/screenshots/thumbs/kickstart_create.png"
                                                                  class="img-responsive img-spacewalk"
                                                                  alt="Spacewalk screenshot"/></a>
                        </div>
                        <div class="col-md-2 text-center">
                            <a href="./img/screenshots/kickstart_overview.png" data-lightbox="kickstart"
                               data-title="Kickstart Overview"><img
                                    src="./img/screenshots/thumbs/kickstart_overview.png"
                                    class="img-responsive img-spacewalk" alt="Spacewalk screenshot"/></a>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <h3>System Overview</h3>
                        <hr/>
                        <div class="col-md-3 text-center">
                            <a href="./img/screenshots/system-overview.png" data-lightbox="system-overview"
                               data-title="System Overview"><img src="./img/screenshots/thumbs/system-overview.png"
                                                                 class="img-responsive img-spacewalk"
                                                                 alt="Spacewalk screenshot"/></a>
                        </div>
                        <div class="col-md-9 text">
                            Spacewalk has a nice search system that allows you to search for particular systems, errata,
                            or packages (package search shown below.) Package search is particularly useful if you are
                            looking to install an application but are not sure what channel your
                            system needs access to in order to retrieve the package from Spacewalk.
                        </div>
                    </div>
                    <div class="col-md-12">
                        <h3>Custom Keys</h3>
                        <hr/>
                        <div class="col-md-9 text">
                            Spacewalk has a nice search system that allows you to search for particular systems, errata,
                            or packages (package search shown below.) Package search is particularly useful if you are
                            looking to install an application but are not sure what channel your
                            system needs access to in order to retrieve the package from Spacewalk.
                        </div>
                        <div class="col-md-3 text-center">
                            <a href="./img/screenshots/custom-keys.png" data-lightbox="custom-keys"
                               data-title="Custom Keys"><img src="./img/screenshots/thumbs/custom-keys.png"
                                                             class="img-responsive img-spacewalk"
                                                             alt="Spacewalk screenshot"/></a>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <h3>Activation Keys</h3>
                        <hr/>
                        <div class="col-md-3 text-center">
                            <a href="./img/screenshots/activationkey.png" data-lightbox="activation-key"
                               data-title="Activation Key"><img src="./img/screenshots/thumbs/activationkey.png"
                                                                class="img-responsive img-spacewalk"
                                                                alt="Spacewalk screenshot"/></a>
                        </div>
                        <div class="col-md-9 text">
                            Spacewalk has a nice search system that allows you to search for particular systems, errata,
                            or packages (package search shown below.) Package search is particularly useful if you are
                            looking to install an application but are not sure what channel your
                            system needs access to in order to retrieve the package from Spacewalk.
                        </div>
                    </div>
                    <div class="col-md-12">
                        <h3>Configuration Overview</h3>
                        <hr/>
                        <div class="col-md-9 text">
                            Spacewalk has a nice search system that allows you to search for particular systems, errata,
                            or packages (package search shown below.) Package search is particularly useful if you are
                            looking to install an application but are not sure what channel your
                            system needs access to in order to retrieve the package from Spacewalk.
                        </div>
                        <div class="col-md-3 text-center">
                            <a href="./img/screenshots/configuration-overview.png"
                               data-lightbox="configuration-overview" data-title="Configuration Overview"><img
                                    src="./img/screenshots/thumbs/configuration-overview.png"
                                    class="img-responsive img-spacewalk" alt="Spacewalk screenshot"/></a>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <h3>Software Channels Overview</h3>
                        <hr/>
                        <div class="col-md-3 text-center">
                            <a href="./img/screenshots/channels-overview.png" data-lightbox="channels-overview"
                               data-title="Software Channels Overview"><img
                                    src="./img/screenshots/thumbs/channels-overview.png"
                                    class="img-responsive img-spacewalk" alt="Spacewalk screenshot"/></a>
                        </div>
                        <div class="col-md-9 text">
                            Spacewalk has a nice search system that allows you to search for particular systems, errata,
                            or packages (package search shown below.) Package search is particularly useful if you are
                            looking to install an application but are not sure what channel your
                            system needs access to in order to retrieve the package from Spacewalk.
                        </div>
                    </div>
                    <div class="col-md-12">
                        <h3>Search System</h3>
                        <hr/>
                        <div class="col-md-9 text">
                            Spacewalk has a nice search system that allows you to search for particular systems, errata,
                            or packages (package search shown below.) Package search is particularly useful if you are
                            looking to install an application but are not sure what channel your
                            system needs access to in order to retrieve the package from Spacewalk.
                        </div>
                        <div class="col-md-3 text-center">
                            <a href="./img/screenshots/package-search.png" data-lightbox="package-search"
                               data-title="Search system"><img src="./img/screenshots/thumbs/package-search.png"
                                                               class="img-responsive img-spacewalk"
                                                               alt="Spacewalk screenshot"/></a>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <h3>Conclusion</h3>
                        <hr/>
                        <div class="text">
                            We hope these screenshots have given you a better feel for what Spacewalk's web interface
                            can do. Please note that much functionality of Spacewalk is not covered here: live kickstart
                            status monitoring of systems, creation and management of virtual systems, multiple
                            organization partitioning of a Spacewalk server, errata management, the action scheduling
                            interface, and more.
                            If you like what you see here and/or are curious and want to learn more, we encourage you to
                            download Spacewalk and see for yourself what it can do!
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
        {% include scroll_to_top.html %}
</section>

<footer>
    {% include footer.html %}
</footer>

<!-- jQuery -->
    {% include jsresource.html %}

<!-- Lightbox -->
<script src="./dist/js/lightbox-plus-jquery.min.js"></script>

</body>

</html>
