---
title: Trademark info
---
<!DOCTYPE html>
<html lang="en">

<head>
    {% include head.html %}
</head>

<body id="page-top">
<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    {% include nav.html %}
</nav>

<!-- HEADER -->
<header>
    {% include header.html %}
</header>

<!-- MAILING LISTS / IRC-->
<section class="section-irc" id="communicate">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <h2 class="section-heading">Trademark Guidelines for Forks</h2>
                <hr/>
                <div class="col-md-12 text-center">
                    <div>
                        <p>
                            "Spacewalk" and the Spacewalk logo are trademarks owned by Red Hat. Red Hat also owns the
                            copyright in the Spacewalk logo. While Red Hat currently uses these trademarks in connection
                            with the Spacewalk project, it is possible that in the future Red Hat will wish to apply
                            them to other software products or projects.
                        </p>
                        <p>
                            A trademark is a word, phrase, symbol or design, or a combination of words, phrases, symbols
                            or designs, that identifies and distinguishes the origin of the goods of one party from
                            those of
                            others. The role of trademarks is to provide assurance about the quality of the products or
                            services with which the trademark is associated. A trademark is infringed if your use of a
                            trademark has created a "likelihood of confusion". This means using a trademark in a way
                            that
                            will likely confuse or deceive the relevant consuming public about the origin of a product
                            or
                            service using the mark in question.
                        </p>
                        <p>
                            Since Spacewalk is an open source project, you can fork it, subject to your obligations to
                            comply
                            with the open source licenses that apply to the code. But since those licenses grant very
                            broad
                            permissions to modify the software, we can’t know in advance whether your modifications
                            would
                            be misleading if distributed under the "Spacewalk" name.
                        </p>
                        <p>
                            Therefore, if you wish to fork the Spacewalk project, you must follow these guidelines:</p>
                        <ul>
                            <li>Your fork cannot be named, described or referred to as "Spacewalk", or a name
                                confusingly similar to "Spacewalk" (including an obvious variation on, phonetic
                                equivalent of, non-English equivalent of, takeoff, or abbreviation of the name
                                "Spacewalk").
                            </li>
                            <li>
                                You can’t use the Spacewalk logo in connection with your fork (for example, in the
                                software itself, or on a project website) or any logo derived from, based on or
                                confusingly
                                similar to the Spacewalk logo.
                            </li>
                            <li>
                                You can’t use or register, in whole or in part, "Spacewalk" as part of your own
                                trademark,
                                service mark, domain name, company name, trade name, product name, or service
                                name.
                            </li>
                        </ul>
                        <p>
                            In addition, if you fork Spacewalk, you may not make any unauthorized use of other Red Hat
                            or
                            third party trademarks, including but not limited to "Red Hat", the Shadowman logo, and
                            "Satellite".
                        </p>
                        <p>
                            This document is based on the Model Trademark Guidelines, available at
                            <a href="http://www.modeltrademarkguidelines.org">http://www.modeltrademarkguidelines.org</a>
                            , licensed under a Creative Commons Attribution 3.0
                            Unported license: <a href="https://creativecommons.org/licenses/by/3.0/deed.en_US">https://creativecommons.org/licenses/by/3.0/deed.en_US</a>.
                        </p>

                    </div>

                </div>
            </div>
        </div>
    </div>
    {% include scroll_to_top.html %}
</section>

<footer>
    {% include footer.html %}
</footer>

<!-- jQuery -->
{% include jsresource.html %}
</body>

</html>
