<div class="header-content">
    <div class="header-content-inner">
        <img src="./img/spacewalk.png" class="logo" alt="Spacewalk"/>
        <p>
            Free & Open Source Systems Management.
        </p>

    </div>
    <div class="header-content-inner release-notes">
        <h4>Spacewalk {{ site.spacewalk_version }} was released!</h4>
        <div class="release-notes-inner">
            <ul>
                <li> Spacewalk now installable on Fedora 27 and has been tested on Fedora 28 Beta as well</li>
                <li> Spacewalk supports Fedora 27 and Fedora 28 clients</li>
                <li> All packages and repositories are exclusively in <a href="https://copr.fedorainfracloud.org/">https://copr.fedorainfracloud.org/</a></li>
                <li> <a href="https://spacewalkproject.github.io/">spacewalkproject.github.io</a> has been completely redesigned</li>
                <li> Python 2 packages are no longer needed on systems with Python 3 as default</li>
                <li> Spacewalk server is now capable of syncing and distributing of Fedora modularity (modules.yaml)
                    files.
                </li>
                <li> PostgreSQL 10 is now supported</li>
                <li> Package dwr updated to version 3.0.2 fixing security vulnerabilities</li>
                <li> It's now possible to manage errata severities via Spacewalk server</li>
                <li> Several bugfixes</li>
            </ul>
            Check whole release notes <a href="https://github.com/spacewalkproject/spacewalk/wiki/ReleaseNotes28">here</a>!
        </div>
        <div class="blink">
            <a class="page-scroll" href="#about"><span></span></a>
        </div>
    </div>

    <div class="header-content-inner-resp">
        <img src="./img/spacewalk-logo.png" alt="Spacewalk logo"/>
        <p>
            Free & Open Source Systems Management.
        </p>
    </div>
</div>
