<div class="header-content">
    <div class="header-content-inner">
        <img src="./img/spacewalk.png" class="logo" alt="Spacewalk"/>
        <p>
            Free & Open Source Systems Management.
        </p>

    </div>
    <div class="header-content-inner release-notes">
        <h4><span style="color: #ce0000">Spacewalk project has been discontinued on May 31 2020.</span></h4>
        <div class="release-notes-inner">
<ul>
<li><b>The last stable release of Spacewalk project is Spacewalk 2.10</b><br/>
<li>Spacewalk is installable on Fedora 30 and 31</li>
<li>Spacewalk supports Fedora 30 and 31, Red Hat Enterprise Linux and CentOS 8 clients</li>
<li>Number of bugfixes and security fixes<br/><p></p></li>
<li><b>Spacewalk nightly contains an experimental code for RHEL8 server</b> (with dnf backend which
breaks RHEL / CentOS 6 support).</li>
</ul>
<p>The up-to-date API documentation can be found at
<a href="http://spacewalkproject.github.io/documentation/api/2.10/" rel="nofollow">http://spacewalkproject.github.io/documentation/api/2.10/</a></p>
</div>
        <div class="blink">
            <a class="page-scroll" href="#about"><span></span></a>
        </div>
    </div>

    <div class="header-content-inner-resp">
        <img src="./img/spacewalk-logo.png" alt="Spacewalk logo"/>
        <p>
            Free & Open Source Systems Management.
        </p>
    </div>
</div>
