<div class="header-content">
    <div class="header-content-inner">
        <img src="./img/spacewalk.png" class="logo" alt="Spacewalk"/>
        <p>
            Free & Open Source Systems Management.
        </p>

    </div>
    <div class="header-content-inner release-notes">
        <h4>Spacewalk {{ site.spacewalk_version }} was released!</h4>
        <div class="release-notes-inner">
<ul>
<li>Spacewalk now installable on Fedora 30 and 31</li>
<li>Spacewalk supports Fedora 30 and 31, Red Hat Enterprise Linux and CentOS 8 clients</li>
<li>Number of bugfixes and security fixes</li>
</ul>
<p>The up-to-date API documentation can be found at
<a href="http://spacewalkproject.github.io/documentation/api/2.10/" rel="nofollow">http://spacewalkproject.github.io/documentation/api/2.10/</a></p>
</div>
        <div class="blink">
            <a class="page-scroll" href="#about"><span></span></a>
        </div>
    </div>

    <div class="header-content-inner-resp">
        <img src="./img/spacewalk-logo.png" alt="Spacewalk logo"/>
        <p>
            Free & Open Source Systems Management.
        </p>
    </div>
</div>
